# Renderöity materiaali (syntyy aina uudelleen lähteistä, ei tallenneta repoon)
/_book/
/.quarto/
/*_files/
/*.html
/*.tex
/*.pdf
/*.log
/*.aux
/*.toc

# RStudio
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# Käyttöjärjestelmien roskat
.DS_Store
__MACOSX/
Thumbs.db
~$*
